/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Roboto:ital@1&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* reset defautl */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid white;*/
}

/* Header */
.header__top__main {
    background-color: #000;
    width: 100%;
}

.container__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 270px;
    height: auto;
    cursor: pointer;
}

/* nav */
.menu .menu-item {
    display: inline-block;
    background-color: blueviolet;
    padding: 20px 10px;
    /* top, right, bottom, left */
    color: #fff;
    border-bottom: solid 5px;
    font-size: 15px;
    
}

.menu .item-color1 {
    border-bottom-color: #2ABDBB;
}
.menu .item-color1:hover {
    border-bottom-color:blueviolet;
    background-color: #2ABDBB;
}

.menu .item-color2 {
    border-bottom-color: #EA4498;
}
.menu .item-color2:hover {
    border-bottom-color:blueviolet;
    background-color: #EA4498;
}

.menu .item-color3 {
    border-bottom-color: #009CDD;
}
.menu .item-color3:hover {
    border-bottom-color:blueviolet;
    background-color: #009CDD;
}

.menu .item-color4 {
    border-bottom-color: #dbad42;
}
.menu .item-color4:hover {
    border-bottom-color:blueviolet;
    background-color: #dbad42;
}

.menu .item-color5 {
    border-bottom-color: #42bb80;
}
.menu .item-color5:hover {
    border-bottom-color:blueviolet;
    background-color: #42bb80;
}


/*transition menu */
.menu .menu-item:hover{
    border-block-width: 8px;
    padding-bottom: 16px;
    transition: ease .2s all;
}


/* main */
.iamge__article{

    width: 379px;
    height: 240px;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    
}



.img1{
    background-image: url('/assets/img/img-one-piece.jpeg');
}

.img2{
    background-image: url('/assets/img/img2.jpg'); 
}

.img3{
    background-image: url('/assets/img/img3.jpg'); 
}
.img4{
    background-image: url('/assets/img/img4.jpg'); 
}


.img5{
    background-image: url('/assets/img/img5.jpg'); 
}

.img6{
    background-image: url('/assets/img/img6.jpg'); 
}



.img__degrade{
    width: 100%;
    height: 100%;
    background:linear-gradient(to top, rgba(0,0,0, .5) 0%, rgba(0,0,0,0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
   
}
.top{
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 10px;
    width: 34px;
    height: 34px;
    font-size: 1.2rem;
    line-height: 35px;
    background-color: red;
    color: #fff;
    font-weight: 400;
    text-align: center;
    border-radius:100%;
}
.img__degrade{
    color: #fff;
    font-size: 1.2rem;
}


@media(max-width:1187px) {
    .container__top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .iamge__article{
        flex-grow: 1;
    }
    
}


.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    height: 100%;
}

.span6{
    grid-column: span 6;
}


.background{
    background-color: #000;
}
.tex__content{
    background-color: #2ABDBB;
}

/* main article */
.container__images{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}

main{
    margin-top: 25px;
    margin-bottom: 20px;
}






/* slider */
